@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Literata:wght@300;400;500;600;800&family=Mukta:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../Assets/dashboard\ bkg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #02293d;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 28px;
}

.text-with-icon {
  display: flex;
  column-gap: 20px;
}

.text-with-icon p {
  font-size: 16px;
  color: white;
  font-family: Lato;
}

.dashboard-logo h2 {
  font-size: 24px;
  color: white;
  font-family: Lato;
  margin-bottom: 24px;
}

.dashboard-logo hr {
  color: #efefef;
  opacity: 50%;
}

.dashboard-sidebar {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.dashboard-logout {
  margin-top: 10rem;
}

.dashboard-search {
  background-color: #02293d;
  margin-left: 16rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1.2rem;
  padding-right: 5rem;
}

.dashboard-search form {
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 535px;
  border-radius: 100px;
  padding: 0.5rem;
}

.dashboard-search img {
  margin-left: 4px;
}

.dashboard-search input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  margin-left: 16px;
  color: white;
  font-family: Lato;
  font-size: 16px;
  transition-duration: 250ms;
}

.dashboard-search input::placeholder {
  color: white;
  font-family: Lato;
  opacity: 100%;
  transition-duration: 250ms;
}

.dashboard-search input:focus::placeholder {
  opacity: 0;
}

.dashboard-noti {
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  margin-left: 1.5rem;
}

.dashboard-profile {
  background-image: url(../Assets/person.jpg);
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-left: 1.5rem;
}

.search-right {
  display: flex;
}

/* Plan CSS code */

.form {
  /* margin-left:16rem; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: "Lato";
}

.form h2 {
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.form-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 1.5rem;
}

.start,
.interest,
.start-date,
.min-budget,
.final,
.duration,
.return-date,
.max-budget {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 20px;
}

.third-col,
.first-col,
.second-col {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  margin-right: 20px;
}

.start label,
.interest label,
.start-date label,
.min-budget label,
.final label,
.duration label,
.return-date label,
.max-budget label {
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
}

.form-text input,
.duration select {
  width: 100%;
  height: 38px;
  border-radius: 4px;
  padding-left: 5px;
  color: #fff;
  background-color: #023047;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.form-text input {
  padding-left: 1rem;
  font-weight: bold;
}

.form-text input:focus {
  outline: none;
}

.duration select {
  padding-left: 1rem;
  font-weight: bold;
  height: 38px;
  border-radius: 4px;
  background-color: #023047;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.third-col label {
  margin-bottom: 10px;
  margin-left: 10px;
  color: #fff;
}

.third-col textarea {
  width: 100%;
  height: calc(100% - 3rem);
  padding: 15px;
  font-weight: bold;
  margin-left: 10px;
  background-color: #023047;
  border-radius: 8px;
  resize: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
}

.third-col textarea:focus {
  outline: none;
}

.condition {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.check input {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.check label {
  color: #fff;
}

.condition button {
  width: 190px;
  height: 36px;
  margin-top: 20px;
  border-radius: 8px;
  font-family: "Lato";
  color: #023047;
  font-weight: bold;
  border: none;
  background-color: #b2d3f2;
  cursor: pointer;
}

.create-plan-form {
  margin-left: 16rem;
  padding: 1rem;
}

.form a{
    width: fit-content;
}

.form-text input,
.form-text select,
.form-text textarea {
  box-sizing: border-box;
  width: 100%;
}

/* Medium Screen View */
@media (max-width: 960px) {
  .create-plan-form {
    margin-left: 6rem;
  }
  .form-text {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .first-col,
  .second-col {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .third-col {
    width: 100%;
    height: auto; /* You can adjust the height as needed */
    margin-bottom: 2rem;
    padding-right: 1.5rem;
  }
  .third-col textarea {
    height: 80px;
    width: 100%;
  }
}

/* added by swastik */
@media (max-width: 960px) {
  .text-with-icon p {
    display: none;
  }
  .sidebar {
    padding-left: 14px;
    padding-right: 42px;
    padding-top: 28px;
    width: 30px;
  }
  .dashboard-highlight {
    width: 42px;
  }
  .dashboard-logo {
    width: 50px;
    flex: 5px;
  }
  .dashboard-logo h2 {
    font-size: 16px;
  }
  .dashboard-search {
    margin-left: 86px;
    /* width: 100%; */
    padding-left: 2rem;
    padding-right: 1.5rem;
  }
  .dashboard-logout {
    position: absolute;
    bottom: 10rem;
  }

  .dashboard-logo hr {
    width: 100%;
  }

  .text-with-icon {
    margin-left: 13px;
  }
}
