@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Literata:wght@300;400;500;600;800&family=Mukta:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../Assets/dashboard\ bkg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    overflow-x: hidden;
  }
.sidebar{
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #02293d;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 28px;
}

.text-with-icon{
    display: flex;
    column-gap: 20px;
}

.text-with-icon p{
    font-size: 16px;
    color: white;
    font-family: Lato;
}

.text-with-icon a{
    color: white;
    text-decoration: none;
}

.dashboard-logo h2{
    font-size: 24px;
    color: white;
    font-family: Lato;
    margin-bottom: 24px;
}

.dashboard-logo hr{
    color: #efefef;
    opacity: 50%;
}

.dashboard-sidebar{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.dashboard-logout{
    margin-top: 10rem;
}

.dashboard-search{
    background-color: #02293d;
    margin-left: 16rem;
    /* width: 100%; */
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1.2rem;
    padding-right: 5rem;
}

.dashboard-search form{
    border: 2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 535px;
    border-radius: 100px;
    padding: .5rem;
}

.dashboard-search img{
    margin-left: 4px;
}

.dashboard-search input{
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    margin-left: 16px;
    color: white;
    font-family: Lato;
    font-size: 16px;
    transition-duration: 250ms;
}

.dashboard-search input::placeholder{
    color: white;
    font-family: Lato;
    opacity: 100%;
    transition-duration: 250ms;
}

.dashboard-search input:focus::placeholder{
    opacity: 0;
}   

.dashboard-noti{
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 4px;
    margin-left: 1.5rem;
}

.dashboard-noti a{
    display: flex;
    align-items: center;
}

.dashboard-profile {
    background-image: url(../Assets/person.jpg);
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    margin-left: 1.5rem;
}

.search-right{
    display: flex;
}
/*  */
.expense{
    margin-left: 16rem;
    display: flex;
}
.expense{
    flex-direction: column;
}
.expense h2{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: "Lato";
}
.tabs{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    justify-content: space-between;
    margin-right: 5rem;
}
.first-tab, .second-tab, .third-tab, .fourth-tab{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(178, 211, 242, 0.3);
    background-color: #02293d;
    width: 210px;
    height: 120px;
    border-radius: 8px;
}
.amount{
    display: flex;
    align-items: center;
    margin: 20px;
}
.amount h4{
    color: #fff;
    font-size: 22px;
    margin-right: 75px;
    font-family: "Lato";
}
.first-tab h3, .second-tab h3, .third-tab h3, .fourth-tab h3{
    margin-left: 20px;
    color: #fff;
    margin-top: 15px;
    font-family: "Lato";
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem 01rem 2.5rem;
}
.btns button{
    width: 97px;
    height: 34px;
    background-color: #B2D3F2;
    border-radius: 8px;
    border: none;
    font-family: "Lato";
}

.btns button a{
    color: black;
    text-decoration: none;
}

.change button{
    width: 67px;
    height: 34px;
    margin-right: 15px;
    background-color: #B2D3F2;
    border-radius: 8px;
    border: none;
    font-family: "Lato";
}

.change button a{
    color: black;
    text-decoration: none;
}

.lists{
    display: flex;
    flex-direction: column;
}
.one, .two, .three, .four, .five, .six{
    display: flex;
    flex-direction: row;
    background-color: #02293d;
    height: 50px;
    margin-left: 40px;
    margin-right: 5rem;
    margin-bottom: 20px;
    border: 1px solid rgb(178, 211, 242, 0.3);
    border-radius: 8px;
    padding-left: 20px;
    align-items: center;
    justify-content: space-around;
}
.amt{
    display: flex;
    flex-direction: row;
}
.one #si, .two #si, .three #si, .four #si, .five #si, .six #si{
    color: #fff;
    font-size: 16px;
    font-family: "Lato";
}
.one #rcv, .two #rcv, .three #rcv, .four #rcv, .five #rcv, .six #rcv{
    color: #fff;
    font-size: 16px;
    font-family: "Lato";
}
.one #type , #noo, #dte, .two #type , #noo, #dte, .three #type , #noo, #dte, .four #type , #noo, #dte, .five #type , #noo, #dte, .six #type , #noo, #dte{
    color: #B2D3F2;
    font-family: "Lato";
    font-size: 14px;
}
.amt p{
    color: #fff;
    font-size: 22px;
    font-family:"Lato";
}

.plans-highlight{
    display: flex;
    column-gap: 20px;
    width:150px;
    height: 40px;
    border-radius: 8px;
    background-color: #325F89;
    justify-content: flex-start;
    align-items: center;
    margin-left: -10px;
  }

  .plans-highlight img{
    margin-left: 10px;
  }

  .expense-download{
    margin-right: 5rem;
  }
   /* Medium Screen View*/

   @media (max-width:820px){
    .expense {
        margin-left: 6rem;
    }
    .first-tab, .second-tab, .third-tab, .fourth-tab {
        /* margin-right: 30px; */
        width: 250px;
        margin-bottom: 30px;
    }
    .tabs{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 3rem;
    }
    .lists{
        margin-bottom: 4rem;
        margin-top: 1rem;
    }
    .btns{
        margin-top: 3rem;
    }
    .amount img{
        margin-left: 2.5rem;
    }
    .one, .two, .three, .four, .five, .six{
        margin-bottom: 15px;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .one p, .two p, .three p, .four p, .five p, .six p{
        font-size: 16px;
    }
    #rcv, #noo{
        display: none;
    }
    .expense-download{
        margin-right: 2rem;
      }
   }