@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Literata:wght@300;400;500;600;800&family=Mukta:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

#Services {
  background-image: url("../Assets/snow_forest.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
#features {
  color: #023047;
  font-family: "Literata", serif;
  font-size: 64px;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 87px;
}
.Serviceimg {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 24px;
  transition: 0.2s ease;
}
.Serviceimg:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}
.left {
  padding: 78px 32px;
  margin-left: 70px;
}
.box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 0px;
  position: relative;
}


.heading {
  color: #023047;
  font-family: "Literata", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.content {
  color: #000;
  text-align: justify;
  font-family: Mukta;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 28px;
}
.boxdetail {
  margin-left: 83px;
  margin-right: 71px;
  padding-bottom: 100px;
}
.btn-services {
  display: inline-flex;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #023047;
  font-weight: 400;
  color: #efefef;
  cursor: pointer;
  border: 1px solid #023047;
  outline: none;
  transition: 0.2s;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s ease;
}
.btn-services:hover {
  background-color: #efefef;
  border: 1px solid #efefef;
  color: #023047;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
  opacity: 0.7;
}

#link {
  color: #023047;
  text-align: justify;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
}
.right {
  margin-right: 70px;
}

.circle{
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color:#023047 ;
}

.btn-text-align{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}