img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.hero-heading{
    position: absolute;
    top: 6rem;
    left: 2.5rem;
    font-size: 9rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #efefef;
    text-align: center;
    line-height: 8rem;
    font-weight: 400;
}