@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Literata:wght@400;500;600;800&family=Mukta:wght@400;500&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../Assets/Login_bkg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-back-btn{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80%;
    margin-bottom: 2rem;
}

.login-content{
    display: flex;
    background-color: #efefef;
    width: 80%;
    height: 75%;
    border-radius: 16px;
}

.login-content-left{
    width: 60%;
    background-image: url(../Assets/ballon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.login-content-left h2{
    padding: 2rem;
    font-family: "Literata";
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.login-content-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form{
    font-family: "Lato";
}
.login-form input{
    width: 320px;
    height: 40px;
}
