/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Literata:wght@400;500;600;800&family=Mukta:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-family: "Lato", sans-serif;
    padding: 10px;
    /* Glass effect */
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.left-navbar {
    font-size: 1.5rem;
    margin-left: 2rem;
}

.right-navbar {
    display: flex;
    align-items: center;
    
}

.left-navsec {
    display: flex;
    gap: 2em;
    margin-right: 2rem;
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    color: #023047;
}
.right-navsec{
    margin-right: 1.5rem;
}

.btn-primary {
    border: none;
    color: #efefef;
    background-color: #023047;
    padding: 4px 10px;
    border-radius: 8px;
    height: 42px;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    width: 100px;
    cursor: pointer;
}

.btn-primary a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.left-navsec a{
    text-decoration: none;
    color: #023047;
    cursor: pointer;
}

.left-navbar a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}