@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Literata:wght@300;400;500;600;800&family=Mukta:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url(../Assets/dashboard\ bkg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  
}



.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #02293d;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 28px;
}

.text-with-icon {
  display: flex;
  column-gap: 20px;
}

.text-with-icon p {
  font-size: 16px;
  color: white;
  font-family: "Lato", sans-serif;
}

.dashboard-logo h2 {
  font-size: 24px;
  color: white;
  font-family: "Lato", sans-serif;
  margin-bottom: 24px;
}

.dashboard-logo hr {
  color: #efefef;
  opacity: 50%;
}

.dashboard-sidebar {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.dashboard-logout {
  margin-top: 10rem;
}

.dashboard-search {
  background-color: #02293d;
  margin-left: 16rem;
  /* width: 100%; */
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1.2rem;
  padding-right: 5rem;
}

.dashboard-search form {
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 535px;
  border-radius: 100px;
  padding: 0.5rem;
}

.dashboard-search img {
  margin-left: 4px;
}

.dashboard-search input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  margin-left: 16px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  transition-duration: 250ms;
}

.dashboard-search input::placeholder {
  color: white;
  font-family: "Lato", sans-serif;
  opacity: 100%;
  transition-duration: 250ms;
}

.dashboard-search input:focus::placeholder {
  opacity: 0;
}

.dashboard-noti {
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  margin-left: 1.5rem;
}

.dashboard-profile {
  background-image: url(../Assets/person.jpg);
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-left: 1.5rem;
}

.search-right {
  display: flex;
}

/* plan view start here */

.allplan-view{
    margin-left: 16rem;
    padding: 1rem;
    margin-right: 4rem;
}

.allplan-heading{
    margin-top: 1rem;
    color: white;
    font-family: "Lato";
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.allplan-heading button{
    display: flex;
    align-items: inherit;
    column-gap: 4px;
    justify-content: center;
    font-size: 14px;
    font-family: "Lato";
    color: #02293d;
    background: none;
    font-weight: bold;
    border: none;
    background-color: #B2D3F2;
    padding: 8px 36px;
    border-radius: 8px;
}