/*Start media Query*/

/* Medium Screen View*/

@media (max-width: 820px) {
  .text-with-icon p {
    display: none;
  }
  .sidebar {
    padding-left: 14px;
    padding-right: 42px;
    padding-top: 28px;
    width: 30px;
  }
  .dashboard-highlight {
    width: 42px;
  }
  .dashboard-logo {
    width: 50px;
    flex: 5px;
  }
  .dashboard-logo h2 {
    font-size: 16px;
  }
  .dashboard-search {
    margin-left: 86px;
    /* width: 100%; */
    padding-left: 2rem;
    padding-right: 1.5rem;
  }
  .dashboard-logout {
    position: absolute;
    bottom: 10rem;
  }

  .dashboard-logo hr{
    width: 100%;
  }

  .text-with-icon{
    margin-left: 13px;
  }
}
