@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Literata:wght@300;400;500;600;800&family=Mukta:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url(../Assets/dashboard\ bkg.png);
  background-repeat: repeat;
  background-size: cover;
  width: 100vw;
  overflow-x: hidden;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #02293d;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 28px;
}

.text-with-icon {
  display: flex;
  column-gap: 20px;
}

.text-with-icon p {
  font-size: 16px;
  color: white;
  font-family: "Lato", sans-serif;
}

.text-with-icon a{
  color: #fff;
  text-decoration: none;
}

.rewards-highlight{
  display: flex;
  column-gap: 20px;
  width:150px;
  height: 40px;
  border-radius: 8px;
  background-color: #325F89;
  justify-content: flex-start;
  align-items: center;
  margin-left: -10px;
}

.rewards-highlight img{
  margin-left: 10px;
}

.dashboard-logo a{
  color: #fff;
  text-decoration: none;
}

.dashboard-logo h2 {
  font-size: 24px;
  color: white;
  font-family: "Lato", sans-serif;
  margin-bottom: 24px;
}

.dashboard-logo hr {
  color: #efefef;
  opacity: 50%;
}

.dashboard-sidebar {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.dashboard-logout {
  margin-top: 10rem;
}

.dashboard-search {
  background-color: #02293d;
  margin-left: 16rem;
  /* width: 100%; */
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1.2rem;
  padding-right: 5rem;
}

.dashboard-search form {
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 535px;
  border-radius: 100px;
  padding: 0.5rem;
}

.dashboard-search img {
  margin-left: 4px;
}

.dashboard-search input {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  margin-left: 16px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  transition-duration: 250ms;
}

.dashboard-search input::placeholder {
  color: white;
  font-family: "Lato", sans-serif;
  opacity: 100%;
  transition-duration: 250ms;
}

.dashboard-search input:focus::placeholder {
  opacity: 0;
}

.dashboard-noti {
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 4px;
  margin-left: 1.5rem;
}

.dashboard-noti a{
  display: flex;
  align-items: center;
}

.dashboard-profile {
  background-image: url(../Assets/person.jpg);
  height: 40px;
  width: 40px;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  margin-left: 1.5rem;
}

.search-right {
  display: flex;
}
/* rewards css start here */

.reward-all-card{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.reward-heading{
    color: white;
    font-family: "Lato";
    margin-top: 1rem
}

.rewards-cards{
    margin-left: 16rem;
    margin-right: 5rem;
    padding: 1rem;
}

.r-card{
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #02293d;
    border-radius: 1rem;
}

.r-card img{
    width: 100%;
    height: 132px;
    border-radius: 8px;
}

.r-card h2{
    font-size: 18px;
    font-family: "Lato";
    margin-top: 1rem;
    color: white;
}

.r-card p{
    font-size: 18px;
    font-family: "Lato";
    font-weight: bold;
    font-size: 18px;
}

.r-card button{
    background: none;
    border: none;
    width: 100%;
    background-color: #B2D3F2;
    height: 2.5rem;
    font-weight: bold;
    color: #02293d;
    border-radius: 8px;
    font-family: "Lato";
    margin-top: .5rem;
}

.r-card a{
  color: #02293d;
  text-decoration: none;
}
.reward-detail{
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: white;
    font-family: "Lato";
    margin-top: .5rem;
    margin-bottom: .5rem;
}


.reward-cointag{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1px;
    background-color: white;
    color: #02293d;
    width: 2rem;
    height: 2rem;
    padding: 0px 4px;
    border-radius: 4px;
}

.reward-cointag img{
    width: 18px;
    height: 18px;
}

 /* Medium Screen View*/

 @media (max-width:820px){
  .reward-all-card{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
  }
  .rewards-cards{
    width: 80%;
    margin-left: 130px;
  }
  .r-card{
    width: 235px;
    /* margin-bottom: 3rem; */
  }
  .r-card button{
    margin-top: 2rem;
  }

  .r-card button:hover{
    cursor: pointer;
    opacity: .8;
    transition-duration: 200ms;
  }
  .r-card img{
    height: 200px;
  }
  body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  .reward-cointag{
    width: 1.5rem;
    height: 1.5rem;
  }
  .reward-cointag p{
    font-size: 14px;
  }
  .reward-cointag img{
    width: 14px;
    height: 14px;
  }
  
 }