@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Literata:wght@400;500;600;800&family=Mukta:wght@400;500&display=swap");

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../Assets/Login_bkg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.signup-back-btn{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80%;
    margin-bottom: 2rem;
}

.signup-back-btn img{
    padding: 8px;
    background-color: white;
    border-radius: 8px;
}

.signup-back-btn p{
    margin-left: 8px;
    color: white;
    font-family: "Lato";
    font-size: 16px;
}

.signup-content{
    display: flex;
    background-color: #efefef;
    width: 80%;
    height: 75%;
    border-radius: 16px;
}

.signup-content-left{
    width: 60%;
    background-image: url(../Assets/ballon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.signup-content-left h2{
    padding: 2rem;
    font-family: "Literata";
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.signup-content-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form{
    font-family: "Lato";
}

.signup-form p{
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.signup-form input{
    padding-left: 1rem;
    border-radius: 8px;
    border: 1px solid #D3D7DF;
}

.signup-form p{
    font-family: "Mukta";
    font-weight: 500;
    font-size: 15px;
    color: #023047;
}

.signup-form input::placeholder{
    color: #a1a1a1;
}
.signup-form input:focus{
    outline: none;
}
.signup-form button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #023047;
    border: none;
    color: white;
    font-family: "Lato";
    font-weight: bold;
    border-radius: 8px;
    width: 100%;
    padding: 8px 12px;
    margin-top: 1rem;
    /*changes*/
    transition: 0.2s ease;
}

.signup-form input{
    width: 320px;
    height: 40px;
}

.signup-line-text{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
    font-size: 14px;
    color: #023047;
    font-weight: bold;
    font-family: "Lato";
    text-transform: uppercase;
}

.signup-line-text hr{
    background-color: none;
    border: 1px solid #D3D7DF;
    width: 2.5rem;
}
.google-signup{
    width: 100%;
}
.google-signup button{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: none;
    border: none;
    column-gap: 1rem;
    color: #065FD4;
    border: 2px solid #065FD4;
    padding: 12px 10px;
    font-size: 16px;
    cursor: pointer;
}

.google-signup img{
    width: 18px;
    height: 18px;

}

.signup-line-text a{
    color: #023047;
}

.signup-back-btn a{
    text-decoration: none;
    color: white;
}

/*changes*/
.signup-back-btn:hover{
    cursor: pointer;
}
.signup-form button:hover{
    background-color: #022c41;
    cursor: pointer;
}

.google-signup button:hover{
    opacity: 1;
    background: none;
}

/*Start media Query*/

          /* Medium Screen View*/

          @media (max-width:820px){
            .signup-content-right{
                z-index: 10;
                width: 0%;
            }
            .signup-content-left{
                z-index: 0;
                width: 100%;
            }
            .signup-container{
                position: relative;
            }
            .signup-form{
                position: absolute;
                left: 27%;
                background-color: rgba(255,255,255,.5);
                padding: 25px;
                border-radius: 5px;
                
            }
            .signup-form p{
             color: #023047;   
            }
            /* .signup-form input{
                box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
            } */
            
          }


          /* Mini Screen View*/
    
    
    @media (max-width: 477px){
        .signup-container{
            position: relative;
        }
        .signup-form{
            position: absolute;
            left: 3.5%;
            background-color: rgba(255,255,255,.5);
            padding: 25px;
            border-radius: 5px;
            top: 23%;
            
        }
        .signup-content{
            width: 100%;
            height: 100%;
        }
        .signup-back-btn{
            visibility: hidden;
        }
        .signup-content-left h2{
            margin-left: 100px;
            margin-top: 80px;
        }
        .signup-content-left{
            position: absolute;
            top: 0%;
            height: 100%;
        }
    }